<mat-toolbar class="header-bar">

   <div class="arrow-placeholder">
      <button *ngIf="showArrowBack()" class="arrow-btn" mat-icon-button (click)="navigateToLists()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>

  <div class="left-section">
    <a routerLink="/trips" class="brand">
      <span class="app-title"><span class="brand-name"><span class="brand-journ">Journ</span><span class="brand-hive">Hive</span></span></span>
    </a>
  </div>

  <div class="right-section">
    <button *ngIf="showDownloadButton()" mat-button class="download-post" (click)="onDownloadPosts()">
      <mat-icon>download</mat-icon>
      Download
    </button>

    <button mat-button class="new-post" (click)="navigateToCreate()">
      {{ buttonLabel }}
    </button>

    <button class="profile-btn" mat-icon-button (click)="toggleUserMenu()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <div class="user-menu" *ngIf="showUserMenu">
    <div class="user-info">
      <div class="user-avatar">
        <mat-icon>person</mat-icon>
      </div>
      <div class="user-details">
        <span class="user-label">Signed in as</span>
        <span class="user-name">{{ userEmailId }}</span>
      </div>
    </div>

    <div class="menu-divider"></div>

    <button class="menu-action mobile-action" mat-button (click)="navigateToCreate(); toggleUserMenu()">
      <mat-icon>add</mat-icon>
      {{ buttonLabel }}
    </button>

    <button *ngIf="showDownloadButton()" class="menu-action mobile-action" mat-button (click)="onDownloadPosts(); toggleUserMenu()">
      <mat-icon>download</mat-icon>
      Download
    </button>

    <div class="menu-divider mobile-action"></div>

    <button class="logout-button" mat-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>

</mat-toolbar>
