<div class="reset-password-wrapper">
    <span class="bg-blob blob-1"></span>
    <span class="bg-blob blob-2"></span>
    <span class="bg-blob blob-3"></span>

    <div class="reset-card">
      <div class="icon-badge">
        <mat-icon>lock_reset</mat-icon>
      </div>

      <h2 class="title">Reset Password</h2>

      <ng-container *ngIf="!invalidLink; else invalidLinkTpl">
        <p class="subtext">Enter a new password for your account</p>

        <form #form="ngForm" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="outline" class="input-field">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <mat-label>New Password</mat-label>
            <input class="password-input-field" matInput
                   [type]="showPassword ? 'text' : 'password'"
                   name="password"
                   [(ngModel)]="password"
                   required
                   minlength="6"
                   autocomplete="new-password">
            <mat-icon matSuffix class="toggle-eye" (click)="togglePassword()">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="input-field">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <mat-label>Confirm Password</mat-label>
            <input class="password-input-field" matInput
                   [type]="showPassword ? 'text' : 'password'"
                   name="confirmPassword"
                   [(ngModel)]="confirmPassword"
                   required
                   autocomplete="new-password">
          </mat-form-field>

          <p *ngIf="password && password.length < 6" class="error-text">
            Password must be at least 6 characters
          </p>
          <p *ngIf="passwordsMismatch" class="error-text">
            Passwords do not match
          </p>

          <button class="submit-btn" mat-raised-button color="primary" type="submit"
                  [disabled]="form.invalid || passwordsMismatch || loading">
            {{ loading ? 'Resetting...' : 'Reset Password' }}
          </button>

          <p class="back-login">
            Remembered your password?
            <a (click)="navigateToLogin()">Login</a>
          </p>
        </form>
      </ng-container>

      <ng-template #invalidLinkTpl>
        <p class="subtext">This reset link is invalid or has expired.</p>
        <button class="submit-btn" mat-raised-button color="primary" type="button"
                (click)="navigateToForgotPassword()">
          Request a new link
        </button>
        <p class="back-login">
          <a (click)="navigateToLogin()">Back to Login</a>
        </p>
      </ng-template>
    </div>
  </div>
